* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(./assets/imgs/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-overlay {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: rgba(11, 11, 11, 0.8);
  height: 400px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px #0b0b0bb3;
}

.login-form .login-form__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 8px solid whitesmoke;
  position: absolute;
  top: -50px;
}

.login-form .login-form__image img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.login-form .login-form__title {
  margin-top: 2.7em;
  padding: 1em;
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: 600;
  letter-spacing: 1px;
}

.login-form .login-form__form {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form__form .form__input {
  width: 80%;
  padding: 0.7em;
  padding-bottom: 1em;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid whitesmoke;
  margin: 0.5em 0;
  color: whitesmoke;
}

.login-form__form .form__input::placeholder {
  color: whitesmoke;
  opacity: 0.8;
}

.login-form__form .form__btn-login {
  padding: 0.5em 3em;
  font-size: 1rem;
  border-radius: 50px;
  border: none;
  margin: 1.3em 0;
  background-color: #e7a328;
  color: whitesmoke;
}

.login-form__form .form-signedin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.login-form__form .form-signedin .form-signedin__label {
  color: whitesmoke;
}
